.navbar {
  background-color: #343a40; /* Navbar arka plan rengi */
  padding: 1rem 1.5rem; /* Daha geniş padding */
}

.navbar-brand {
  font-size: 1.5rem; /* Daha büyük yazı tipi */
  color: #ffffff; /* Beyaz yazı rengi */
}

.navbar-nav .nav-link {
  color: #ffffff; /* Beyaz yazı rengi */
  padding: 0.5rem 1rem; /* Daha geniş padding */
  font-size: 1.1rem; /* Daha büyük yazı tipi */
  transition: background-color 0.3s, color 0.3s; /* Hover efekti için geçişler */
}

.navbar-nav .nav-link:hover {
  background-color: #495057; /* Hover arka plan rengi */
  color: #ffffff; /* Hover yazı rengi */
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1); /* Toggler düğmesi rengi */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Toggler düğmesi ikonu */
}
