.btn-primary {
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-primary:hover {
  background-color: #4e555b;
  border-color: #4e555b;
}

.btn-success {
  background-color: #343a40;
  border-color: #343a40;
}

.btn-success:hover {
  background-color: #2c3033;
  border-color: #2a2d30;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}
